/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
}
.df-ac-jc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
:root {
  --slate-blue: slateblue;
}
